<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="atras()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>    
    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #formulario="ngForm" (ngSubmit)="register()" enctype="multipart/form-data" (keydown.enter)="$event.preventDefault()">
    <ion-item>
      <ion-label position="floating"><strong>Nombre</strong></ion-label>      
      <ion-input name='nombre' type="text"  [(ngModel)]="user.firstname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><strong>Apellidos</strong></ion-label>      
      <ion-input name='apellidos' type="text"  [(ngModel)]="user.lastname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><strong>Fecha de nacimiento</strong></ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"  [(ngModel)]="user.birthdate"  [ngModelOptions]="{standalone: true}" min="1984-01-01" max="2012-12-01" required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><strong>Email</strong></ion-label>      
      <ion-input name='email' type="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><strong>Contraseña</strong></ion-label>      
      <ion-input name='password' type="password" FormControlName="password" [type]="showPassword ? 'text' : 'password'"  [(ngModel)]="user.password"  required></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>
    <ion-button type="submit" color='success' expand="block" [disabled]="!formulario.valid">Registrarse</ion-button>
  </form>
</ion-content>
